<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
    <title>Node Json App</title>
</head>
<body>
    <div class="container p-4">
        <div class="row">
            <% Books.forEach(function (Book) { %>
                <div class="col-md-4">
                    <div class="card ">
                        <div class="card-header">
                            <%= Book.title %> / <%= Book.author %>
                        </div>
                        <div class="card-body">
                            <p><%= Book.description %></p>
                        </div>
                        <div class="card-footer">
                            <button class="btn-danger">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
           <% }) %> 

        </div>
    </div>
</body>
</html>